#body-wrapper{
	padding-top: 3%;
	background-color: #7BBB93;
	padding-bottom: 5%;
	text-align: center; 
}#about-wrapper{
	padding-top: 3%;
	background-color: #7BBB93;
	padding-bottom: 5%;
	text-align: center;
}
.desc{
	text-align: center;
	font-size: 20px; 
	color: #D7EDE0;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}