body{background: #E6F0F5;}

@font-face{ 
    font-family: Ubuntu; src: url("../Ubuntu-L.ttf");
}
.ubuntu{
    font-family: Ubuntu; src: url("../Ubuntu-L.ttf");
}
.blue{
    background-color:#3385AD;
}

#menuback{
    background: #3F8FD2;
    padding: 15vp 17vp;
    padding-left: 7vp;
    margin-top: 1%;
    border-radius: 7px;
    margin-left: 10px;
    margin-right: 10px;
}
#title{
    color: #000000;	
    text-align: center;
    font-size: 60px;
    padding-top: 45px;
    font-family: "Ubuntu";
}
#infoback{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 7px;
    font-family: "Ubuntu";
    font-size: 16px;
    margin-left: 35%;
    margin-right: 35%;
}
#link>a:link{
    font-family: "Ubuntu";
    font-size: 16px;
    text-decoration: none;
    color: #000000;

}
#link>a:visited{
    font-family: "Ubuntu";
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}
#link:hover{
    text-decoration: underline;
    color: #3333FF;

}